html {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 20%);
  line-height: 1.35em;
}

body { 
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.main  {
  display: grid;
  grid-template-columns: [viewport-start] minmax(1em, 1fr) [container-start] minmax(0, 40em) 
                          [container-end] minmax(1em, 1fr) [viewport-end];
}

a {
  color: inherit;
}

a:hover,
a:focus {
  font-weight: bold;
  text-decoration: underline;
}

hr {
  border: none;
  height: 5px;
  background: hsl(0, 0%, 20%);
  margin: 2rem 0;
}

.article-text, .footer,
.article-picture-footer {
  grid-column: container;
}

.article-picture {
  grid-column: viewport;
  display: inherit;
  grid-template-columns: inherit;
}

.article-picture > * {     
  grid-column: container;
}

.centered-picture {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 1rem;
}

img {
  width: 80%; 
  height: auto;
}

.article-picture-footer p {
  margin-top: 0.5rem;
  text-align: center;
}

.footer p {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}